nav{
  background-color: #2196F3;
}

#profilePic{
  margin-top: 3px;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

#profilePic img{
  object-fit: cover;
  height: 90%;
  width: 90%;
  border-radius: 50%;;
}

.brand-logo{
  margin-top: 15px;
  margin-left: 5px;
  font-weight: lighter;
}

.margintop {
  margin-top: 35px;
}

.modal1{
  position: absolute;
  background:#1565C0;
  text-align: center;
  top: 9%;
  right: 2%;
  width: 20%;
  height: 15%;
  z-index: 1000 ;
  border-radius: 0.3rem;
}

.material-icons {
  color: #333;
  }

input[type="file"]{
  position: relative;
  transform: translateY(-2000px);
}

label #upload-button{
  font-size: 1rem !important;
  position: absolute;
  text-transform: uppercase;
  left:35%;
  border: 1px solid #333;
  text-align: center;
  padding: 7px 7px 7px 7px;
  cursor: pointer;
  color: #fff;
}
